@model WebApplication5.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping_adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping_adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Billing_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Billing_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paymnet_Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paymnet_Method)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrdersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
